

Analysing Sales

You have been given a dataset containing information about sales transactions for the month of September and October. Your task is to perform data analysis to answer the following questions and provide insights to improve business decisions.


    What is the total sales for each month?
    What is the average daily sales for each month?
    What Region generated the highest sales?
    Which product category had the lowest impact?
    Identify the top selling products
    Based on your analysis what recommendation would to give to improve sales in November.

In [9]:
import pandas as pd

sales_df = pd.read_csv('Sales-230913-134411.csv')

sales_df.head()

         Date Region     Category  Sales($) ProductID
0  01/09/2023   East  Electronics   1200.50     E1234
1  02/09/2023   West      Apparel    350.75     A4567
2  03/09/2023  North    Furniture    890.20     F7890
3  04/09/2023  South  Electronics    550.40     E2345
4  05/09/2023   East   Appliances    420.60     A6789

In [19]:
#    What is the total sales for each month?
sales_df['Date'] = pd.to_datetime(sales_df['Date'], format='%d/%m/%Y')


sales_df['Month'] = sales_df['Date'].dt.month_name()

total_sales_month = sales_df.groupby('Month')['Sales($)'].sum()

total_sales_month

Month
October      17354.65
September    17924.40
Name: Sales($), dtype: float64

In [31]:
 #  What is the average daily sales for each month?

average_daily_sales_by_month = sales_df.groupby('Month')['Sales($)'].mean()

print(f'{average_daily_sales_by_month}.')

Month
October      559.827419
September    597.480000
Name: Sales($), dtype: float64.

In [36]:
 # What Region generated the highest sales?

highest_sales_region = sales_df.groupby('Region')['Sales($)'].sum().sort_values(ascending=False).head(1)

highest_sales_region

Region
North    12767.0
Name: Sales($), dtype: float64

In [39]:
#  Which product category had the lowest impact?

lowest_impact_category = sales_df.groupby('Category')['Sales($)'].sum().sort_values(ascending=True)
lowest_impact_category

Category
Appliances      5878.30
Apparel         6048.25
Electronics    10585.50
Furniture      12767.00
Name: Sales($), dtype: float64

In [43]:
# Identify the top selling products

top_selling_product = sales_df.groupby('ProductID')['Sales($)'].sum().sort_values(ascending=False).head()

top_selling_product

ProductID
F5678    3642.2
E2345    2621.4
A6789    2413.5
F1236    1841.8
A1234    1742.0
Name: Sales($), dtype: float64

In [45]:
 #   Based on your analysis what recommendation would to give to improve sales in November. 

'''

Focus on boosting sales in regions other than the North, as it is already the top-performing region. 
Marketing and promotions can be targeted in the East, South, and West regions.

Consider developing more targeted strategies for product categories like Appliances, which had the lowest sales, possibly through discounts.

Analyze the reasons behind the success of top-selling products like F5678 and E2345 and apply similar strategies to other underperforming products.

'''

'\n\nFocus on boosting sales in regions other than the North, as it is already the top-performing region. \nMarketing and promotions can be targeted in the East, South, and West regions.\n\nConsider developing more targeted strategies for product categories like Appliances, which had the lowest sales, possibly through discounts.\n\nAnalyze the reasons behind the success of top-selling products like F5678 and E2345 and apply similar strategies to other underperforming products.\n\n'