

Step 1: Create a DataFrame from the list of dictionaries below:

[{'product_id':23, 'name':'computer', 'wholesale_price': 500, 'retail_price':1000, 'sales':100}, 
{'product_id':96, 'name':'Python Workout', 'wholesale_price': 35,'retail_price':75, 'sales':1000},
{'product_id':97, 'name':'Pandas Workout', 'wholesale_price': 35, 'retail_price':75, 'sales':500},
{'product_id':15, 'name':'banana', 'wholesale_price': 0.5,'retail_price':1, 'sales':200},
{'product_id':87, 'name':'sandwich', 'wholesale_price': 3,'retail_price':5, 'sales':300}]


Step 2:  Calculate the Total Profit for each product using the formula 

```

net_revenue_per_product = (retail_price - wholesale price) * sales

```

Step 3: Determine the following

- How much total net revenue you received from all of these sales?

- What product is product retail price more than twice the wholesale price?

- How much did the store make from food vs. computers vs. books?

- Because your store is doing so well, you’re able to negotiate a 30% discount on the wholesale price of goods. Calculate the new net revenue

- Our local government is thinking about imposing a
sales tax, and is thinking about 15, 20, and 25 percent rates. 

- Show how much less you would net with each of these tax amounts by adding columns to the data frame for current income, as well.

In [2]:
import pandas as pd

In [49]:
data = [
{'product_id':23, 'name':'computer', 'wholesale_price': 500, 'retail_price':1000, 'sales':100, 'category': 'computers'}, 
{'product_id':96, 'name':'Python Workout', 'wholesale_price': 35,'retail_price':75, 'sales':1000, 'category': 'books'},
{'product_id':97, 'name':'Pandas Workout', 'wholesale_price': 35, 'retail_price':75, 'sales':500, 'category': 'books'},
{'product_id':15, 'name':'banana', 'wholesale_price': 0.5,'retail_price':1, 'sales':200, 'category': 'food'},
{'product_id':87, 'name':'sandwich', 'wholesale_price': 3,'retail_price':5, 'sales':300, 'category': 'food'}
]

df = pd.DataFrame(data)

df

   product_id            name  wholesale_price  retail_price  sales   category
0          23        computer            500.0          1000    100  computers
1          96  Python Workout             35.0            75   1000      books
2          97  Pandas Workout             35.0            75    500      books
3          15          banana              0.5             1    200       food
4          87        sandwich              3.0             5    300       food

In [50]:
df['net_revenue_per_product'] = (df['retail_price'] - df['wholesale_price']) * df['sales']

df[['product_id', 'name', 'net_revenue_per_product']]

   product_id            name  net_revenue_per_product
0          23        computer                  50000.0
1          96  Python Workout                  40000.0
2          97  Pandas Workout                  20000.0
3          15          banana                    100.0
4          87        sandwich                    600.0

In [51]:
#- How much total net revenue you received from all of these sales?

total_revenue = df['net_revenue_per_product'].sum()

print(f'Total revenue is ${total_revenue:,.2f}.')

Total revenue is $110,700.00.

In [52]:
#- What product is product retail price more than twice the wholesale price?

df.loc[(df['retail_price'] > (df['wholesale_price']*2))]

,product_id,name,wholesale_price,retail_price,sales,category,net_revenue_per_product
1,96,Python Workout,35.0,75,1000,books,40000.0
2,97,Pandas Workout,35.0,75,500,books,20000.0

In [53]:
#- How much did the store make from food vs. computers vs. books?
df.groupby('category')['net_revenue_per_product'].sum()

category
books        60000.0
computers    50000.0
food           700.0
Name: net_revenue_per_product, dtype: float64

In [57]:
#- Because your store is doing so well, you’re able to negotiate a 30% discount on the wholesale price of goods. Calculate the new net revenue

df['Discounted_wholesale_price'] = df['wholesale_price'] * 0.7

df

,product_id,name,wholesale_price,retail_price,sales,category,net_revenue_per_product,Discounted_wholesale_price
0,23,computer,500.0,1000,100,computers,50000.0,350.00
1,96,Python Workout,35.0,75,1000,books,40000.0,24.50
2,97,Pandas Workout,35.0,75,500,books,20000.0,24.50
3,15,banana,0.5,1,200,food,100.0,0.35
4,87,sandwich,3.0,5,300,food,600.0,2.10

In [60]:
df['new_net_revenue_per_product'] = (df['retail_price'] - df['Discounted_wholesale_price']) * df['sales']

new_total_revenue = df['new_net_revenue_per_product'].sum()

print(f'Total new revenue is ${new_total_revenue:,.2f}.')

Total new revenue is $141,750.00.

In [72]:
#- Our local government is thinking about imposing a
#sales tax, and is thinking about 15, 20, and 25 percent rates. 

# - Show how much less you would net with each of these tax amounts by adding columns to the data frame for current income, as well.

df['new_net_revenue_per_product_after_tax15'] = (df['new_net_revenue_per_product'] / 115 * 100) - df['new_net_revenue_per_product']
df['new_net_revenue_per_product_after_tax20'] = (df['new_net_revenue_per_product'] / 120 * 100) - df['new_net_revenue_per_product']
df['new_net_revenue_per_product_after_tax25'] = (df['new_net_revenue_per_product'] / 125 * 100) - df['new_net_revenue_per_product']

loss_15 = df['new_net_revenue_per_product_after_tax15'].sum()
loss_20 = df['new_net_revenue_per_product_after_tax20'].sum()
loss_25 = df['new_net_revenue_per_product_after_tax25'].sum()

print(f'With a 15% tax we would lose ${loss_15:,.2f} of our total net revenue.')
print(f'With a 20% tax we would lose ${loss_20:,.2f} of our total net revenue.')
print(f'With a 25% tax we would lose ${loss_25:,.2f} of our total net revenue.')

With a 15% tax we would lose $-18,489.13 of our total net revenue.
With a 20% tax we would lose $-23,625.00 of our total net revenue.
With a 25% tax we would lose $-28,350.00 of our total net revenue.